/************************************************** 
***Header styles 
**************************************************/
ul {
	margin: 0px;
	padding-left: 0px;
	list-style: none;
}

a {
	text-decoration: none;
}

/************************************************** 
***Typoraphy
**************************************************/
html {
	min-height: 100%;
}

body {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	background: #ffffff;
	min-height: 100%;
}

html,
.root {
	font-size: 16px;
	line-height: 26px;
}

body,
.article {
	font-family: "HK Grotesk", "Source Sans Pro", "Segoe UI", Helvetiva, sans-serif;
	font-size: 1em;
	line-height: 1.625em;
}

h1,
.h1 {
	font-size: 1.9375em;
	line-height: 1.67741935em;
	margin-top: 0.83870968em;
	margin-bottom: 1.67741936em;
}

h2,
.h2 {
	font-size: 1.5625em;
	line-height: 1.04em;
	margin-top: 1.04em;
	margin-bottom: 1.04em;
}

h3,
.h3 {
	font-size: 1.25em;
	line-height: 1.3em;
	margin-top: 1.3em;
	margin-bottom: 0em;
}

h4,
.h4 {
	font-size: 1em;
	line-height: 1.625em;
	margin-top: 1.625em;
	margin-bottom: 0em;
}

h5,
.h5 {
	font-size: 1em;
	line-height: 1.625em;
	margin-top: 1.625em;
	margin-bottom: 0em;
}
p,
ul,
ol,
pre,
table,
blockquote {
	margin-top: 0em;
	margin-bottom: 1.625em;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-top: 0em;
	margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr,
.hr {
	border: 1px solid;
	margin: -1px 0;
}

a,
b,
i,
strong,
em,
small,
code {
	line-height: 0;
}

sub,
sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/************************************************** 
***Header styles 
**************************************************/

.topBar {
	padding: 0 36px;
	/* height: 120px; */
}

.topBar ul {
	height: 120px;
	padding: 0px;
	margin: 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0px;
	flex: 1 1 0;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/************************************************** 
***Navigation
**************************************************/
nav li {
	margin-bottom: 36px;
}

nav li a {
	font-size: 20px;
	font-weight: bold;
	color: black;
}

/************************************************** 
***Main Section Layout
**************************************************/
main {
	padding-top: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

nav {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0px;
	flex: 1 1 0;
	height: calc(100vh - 180px);
	padding: 0 36px;
}

.listSection {
	-webkit-box-flex: 6;
	-ms-flex: 6 1 0px;
	flex: 6 1 0;
	padding-right: 30px;
}

/************************************************** 
***Main Section Styles
**************************************************/
#pinnedList,
#mainList {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.listItem {
	flex-basis: calc(100% / 5 - 36px);
	padding: 18px;
	/* margin: 18px; */
}

.listItem__cont {
	border-radius: 10px;
	padding: 20px;
	border: 1px solid #ccc;
}
